<!doctype html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>USN | Home</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">

        <style>
            .text-center {
                width: 50%;
                height: 50%;
                margin: 220px auto;
                background: #0F2027;
                padding: 20px;
            }            
        </style>
  </head>



  <body class="text-center">
    <div class="contain">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          
        </div>
      </header>
      <main role="main" class="inner cover">
        <img src="images/usnlogo.jpeg" width="15%" height="25%"><br><br>
        <h1 class="cover-heading">Welcome to</h1>
        <h2 class="cover-heading">University Social Network</h2>
        <p class="lead">Build for students, built by students, nothing more nothing less.</p>
        <p class="lead">
          <a href="/signin" class="btn btn-sm btn-secondary" onMouseOver="this.style.color='#575fcf'" onMouseOut="this.style.color='#000'">Sign In</a>
          <a href="/signup" class="btn btn-sm btn-secondary" onMouseOver="this.style.color='#575fcf'" onMouseOut="this.style.color='#000'">Sign Up</a>
        </p>
       
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.js"></script>
        <script src="js/jquery.backstretch.js"></script>
        <script>
            $.backstretch([
                "images/img1.jpeg",
                "images/img2.jpeg",
                "images/img3.jpeg",
                "images/img4.jpeg",
                "images/img5.jpeg",
                "images/img6.jpeg",
                "images/img7.jpeg",
                "images/img8.jpeg",
                "images/img9.jpeg",
                "images/img10.jpeg"
            ], {
                fade: 750,
                duration: 4000,
                preload: 0,
                start: 2
            });
        </script>
    </body>
</html>