<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
	<meta name="author" content="Bootlab">
	<link rel="icon" href="images/favicon.ico">

	<title>USN | Reset Password</title>

	<link href="css/app.css" rel="stylesheet">
	<script src="js/jquery-3.3.1.min.js"></script>


</head>

<body>
	<main class="main h-100 w-100">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2" style="font-size: 5ch;"><i class="far fa-grin-squint"></i> Reset password</h1>
							<p class="lead">
								Enter the new password.
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">


									<!--- form-->
									<form id="validation-form" method="POST">
										<div class="form-group">
											<label class="form-label">Old password</label>
											<input type="password" class="form-control" name="passwordold" id="passwordold"
												placeholder="Old password" required>
										</div>
										<div class="form-group">
											<label class="form-label">New password</label>
											<input type="password" class="form-control" name="passwordnew1" id="passwordnew1"
												placeholder="New password" required>
											<small class="form-text text-muted">Password should contain atleast 4
												characters</small>
										</div>

										<p><small id="text" class="form-text">Warning! Caps lock is ON.</small></p>



										<div class="form-group">
											<label class="form-label">Confirm new password</label>
											<input type="password" class="form-control" name="passwordnew2" id="passwordnew2"
												placeholder="Retype new password" required>
										</div>
										<label class="custom-control custom-checkbox">
											<input type='checkbox' class="custom-control-input" id='toggle' value='0'>
											<span class="custom-control-label" id="toggleText">Show Password</span>
										</label>



										<style>
											#text {
												display: none;
												color: red
											}
										</style>

										<script>
											var input = document.getElementById("passwordnew1");
											var text = document.getElementById("text");
											input.addEventListener("keyup", function (event) {

												if (event.getModifierState("CapsLock")) {
													text.style.display = "block";
												} else {
													text.style.display = "none"
												}
											});
										</script>


										<center>
											<button type="submit" class="btn btn-primary" id="submit">Reset Password</button>
										</center>
									</form>
									<!--- form-->



								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="js/app.js"></script>


	<script>

		document.addEventListener("DOMContentLoaded", function (event) {

			// Initialize Select2 select box
			$('select[name="validation-select2"]').select2({
				allowClear: true,
				placeholder: 'Select gear...',
			}).change(function () {
				$(this).valid();
			});
			// Initialize Select2 multiselect box
			$('select[name="validation-select2-multi"]').select2({
				placeholder: 'Select gear...',
			}).change(function () {
				$(this).valid();
			});
			// Trigger validation on tagsinput change
			$('input[name="validation-bs-tagsinput"]').on('itemAdded itemRemoved', function () {
				$(this).valid();
			});
			// Initialize validation
			$('#validation-form').validate({
				ignore: '.ignore, .select2-input',
				focusInvalid: false,
				rules: {
					/////////////////////////////////////
					'passwordold': {
						required: true,
						minlength: 4,
						maxlength: 20,
						remote: {
							url: "check-passwordold",
							type: "post",
							data: {
								passwordold: function () {
									return $("#passwordold").val();
								}
							},
							dataType: 'html',
							success: function (DATA) {
								if (DATA == 'sorry') {
									message: {
										passwordold: 'The old password is wrong'
										alert('The old password is wrong');
										$("#passwordold").val('');
										return false;
									}
								}
								else {
									return true;
								}
							}
						}
					},
					'passwordnew1': {
						required: true,
						minlength: 4,
						maxlength: 20,
						notEqualTo: 'input[name="passwordold"]'
					},
					'passwordnew2': {
						required: true,
						minlength: 4,
						maxlength: 20,
						equalTo: 'input[name="passwordnew1"]',
						notEqualTo: 'input[name="passwordold"]'
					}

					/////////////////////////////////////

				},
				// Errors
				errorPlacement: function errorPlacement(error, element) {
					var $parent = $(element).parents('.form-group');
					// Do not duplicate errors
					if ($parent.find('.jquery-validation-error').length) {
						return;
					}
					$parent.append(
						error.addClass('jquery-validation-error small form-text invalid-feedback')
					);
				},
				highlight: function (element) {
					var $el = $(element);
					var $parent = $el.parents('.form-group');
					$el.addClass('is-invalid');
					// Select2 and Tagsinput
					if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
						$el.parent().addClass('is-invalid');
					}
				},
				unhighlight: function (element) {
					$(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
				}
			});
		});



		$(document).ready(function () {



			// just for the demos, avoids form submit
			jQuery.validator.setDefaults({
				debug: true,
				success: "valid"
			});





			$("#toggle").change(function () {
				// Check the checkbox state
				if ($(this).is(':checked')) {
					// Changing type attribute
					$("#passwordold").attr("type", "text");
					$("#passwordnew1").attr("type", "text");
					$("#passwordnew2").attr("type", "text");

					// Change the Text
					$("#toggleText").text("Hide Password");
				} else {
					// Changing type attribute
					$("#passwordold").attr("type", "password");
					$("#passwordnew1").attr("type", "password");
					$("#passwordnew2").attr("type", "password");

					// Change the Text
					$("#toggleText").text("Show Password");

				}
			});



			$("#submit").click(function () {

				var passwordold = $("#passwordold").val();
				var passwordnew1 = $("#passwordnew1").val();
				var passwordnew2 = $("#passwordnew2").val();

				if (passwordold != '' & passwordnew1 != '' & passwordnew2 != '') {

					$.ajax({
						url: '/reset-password',
						type: 'POST',
						cache: false,
						data: {
							passwordold: $("#passwordold").val(),
							passwordnew1: $("#passwordnew1").val(),
							passwordnew2: $("#passwordnew2").val()
						},
						success: function (DATA) {
							// alert('Your submission was successful');
							if (DATA === "done") {
								//redirect to admin page
								window.location.href = "/verify";
							}
							else if (DATA === "opw") {
								alert("Old password is wrong");
							}
							else if (DATA === "nwps") {
								alert("New password cannot be same as your old password");
							}
							else if (DATA === "sfm") {
								alert("All fields are required");
							}
						},
						error: function (DATA) {
							alert("Some Error");
							window.location.href = "/home";
						}
					});
				}
			});
		});


	</script>




	<svg width="0" height="0" style="position:absolute">
		<defs>
			<symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
				<path
					d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
				</path>
			</symbol>
		</defs>
	</svg>
</body>

</html>