<!DOCTYPE html>
<html lang="en">

<!-- HEAD AND NAVBAR -->
<%- include('header'); -%>



<!-----------------------------------WRITE POST----------------------------------->

<div class="col-12 col-md-8 col-lg-9 col-xl-10 pl-lg-4">

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title mb-0">Create a Post</h5>
				</div>
				<div class="card-body">
					<form id="validation-form">


						<!----POST HEAD---->
						<div class="form-group">
							<label class="form-label">Title</label>
							<textarea rows="1" maxlength="80" class="form-control" name="post-title"
								placeholder="Post Title" required></textarea>
						</div>

						<!----POST TEXT---->
						<div class="form-group">
							<label class="form-label">Content</label>
							<textarea rows="10" maxlength="1000" class="form-control" name="post-text"
								placeholder="Write something here..." required></textarea>
						</div>

						<!----POST IMAGE---->
						<div class="form-group">
							<label class="form-label">Add Photo</label>
							<div>
								<input type="file" class="validation-file" name="post-image">
							</div>
						</div>


						<button type="submit" class="btn btn-primary">Post</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function (event) {
			// Initialize Select2 select box
			$('select[name="validation-select2"]').select2({
				allowClear: true,
				placeholder: 'Select gear...',
			}).change(function () {
				$(this).valid();
			});
			// Initialize Select2 multiselect box
			$('select[name="validation-select2-multi"]').select2({
				placeholder: 'Select gear...',
			}).change(function () {
				$(this).valid();
			});
			// Trigger validation on tagsinput change
			$('input[name="validation-bs-tagsinput"]').on('itemAdded itemRemoved', function () {
				$(this).valid();
			});
			// Initialize validation
			$('#validation-form').validate({
				ignore: '.ignore, .select2-input',
				focusInvalid: false,
				rules: {
					'validation-email': {
						required: true,
						email: true
					},
					'validation-password': {
						required: true,
						minlength: 6,
						maxlength: 20
					},
					'validation-password-confirmation': {
						required: true,
						minlength: 6,
						equalTo: 'input[name="validation-password"]'
					},
					'validation-required': {
						required: true
					},
					'validation-url': {
						required: true,
						url: true
					},
					'validation-select': {
						required: true
					},
					'validation-multiselect': {
						required: true,
						minlength: 2
					},
					'validation-select2': {
						required: true
					},
					'validation-select2-multi': {
						required: true,
						minlength: 2
					},
					'validation-text': {
						required: true
					},
					'validation-file': {
						required: true
					},
					'validation-radios': {
						required: true
					},
					'validation-radios-custom': {
						required: true
					},
					'validation-checkbox': {
						required: true
					},
					'validation-checkbox-custom': {
						required: true
					},
					'validation-checkbox-group-1': {
						require_from_group: [1, 'input[name="validation-checkbox-group-1"], input[name="validation-checkbox-group-2"]']
					},
					'validation-checkbox-group-2': {
						require_from_group: [1, 'input[name="validation-checkbox-group-1"], input[name="validation-checkbox-group-2"]']
					},
					'validation-checkbox-custom-group-1': {
						require_from_group: [1, 'input[name="validation-checkbox-custom-group-1"], input[name="validation-checkbox-custom-group-2"]']
					},
					'validation-checkbox-custom-group-2': {
						require_from_group: [1, 'input[name="validation-checkbox-custom-group-1"], input[name="validation-checkbox-custom-group-2"]']
					}
				},
				// Errors
				errorPlacement: function errorPlacement(error, element) {
					var $parent = $(element).parents('.form-group');
					// Do not duplicate errors
					if ($parent.find('.jquery-validation-error').length) {
						return;
					}
					$parent.append(
						error.addClass('jquery-validation-error small form-text invalid-feedback')
					);
				},
				highlight: function (element) {
					var $el = $(element);
					var $parent = $el.parents('.form-group');
					$el.addClass('is-invalid');
					// Select2 and Tagsinput
					if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
						$el.parent().addClass('is-invalid');
					}
				},
				unhighlight: function (element) {
					$(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
				}
			});
		});
	</script>

</div>
</div>
</div>
</main>






<%- include('footer'); -%>

</body>

</html>